* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size:34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

input:focus {
    border: 2px solid #6884d3;
}

.email {
    padding-left: 40px;
    background: url("../icons/email_icon.png") no-repeat left center;
    background-size: 30px;
}

.password {
    padding-left: 40px;
    background: url("../icons/password_icon.png") no-repeat left center;
    background-size: 30px;
}

button {
    width: 100%;
    padding: 12px;
    background: #101828;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #6884d3;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

p a {
    color: #1560fc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}